.catemBox {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.catemBoxWrapper {
  padding: 10px;
}

.catemBoxTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.catemTitle {
  font-weight: bold;
  margin-left: 40%;
  text-align: center;
}

.catemBoxDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.catemEach {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.catemName {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.catemImg {
  margin-top: 5px;
  height: 190px;
  width: 325px;
  border-radius: 8px;
}
